.record-container {
  //   border: 1px solid red;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  text-align: center;

  video {
    // border: 1px solid red;
    background-color: $black;
    width: 100%;
    margin-bottom: 20px;
  }
}
