.videoBlock {
  // border: 1px solid blue;

  // max-width: 100%;
  // margin: 0 auto; // not really sure
  video {
    // border: 1px solid red;
    background-color: $dark-grey;

    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;

    max-height: 100px;
  }
  .videoBlock__title {
    // border: 1px solid red;
    max-width: 100%;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    max-height: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
