extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 🔎 Searching by: #{searchingBy}
        if videos.length === 0
            h5 No Videos Found 😢
    .search__videos
        each item in videos
            +videoBlock( {
                fileUrl: item.fileUrl,
                title: item.title,
                views: item.views,
                id: item.id
            })