extends layouts/main

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            span#jsCameraBtn
                i.fas.fa-camera 
            button#jsRecordBtn Start Recording
        form(action=`/videos${routes.upload}` method="post" enctype="multipart/form-data")
            div.fileUpload
                label(for="file") Video File
                input(type="file" id="file" name="videoFile" required accept="video/*")
            input(type="text" name="title" placeholder="Title" maxlength="50" required)
            textarea(name="description" placeholder="Description" required)
            input(type="submit" value="Upload Video")