.user-profile {
  .user-profile__header {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
    .u-avatar {
      height: 5em;
    }

    .profile__username {
      // border: 1px solid purple;
      font-size: 1.75em;
      margin-top: 18px;
    }
  }
  .user-profile__buttons {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    a {
      //   border: 1px solid red;
      display: block;
      max-width: 320px;
      width: 100%;
      text-align: center;
    }
    a:not(:last-child) {
      margin-bottom: 20px;
    }
    button {
      width: 100%;
      max-width: 280px;
    }
  }
}
