.home-videos {
  // border: 1px solid purple;
  // width: 100%;
  display: grid;
  padding: 5px;
  margin: 0 7px 7px 7px;
  grid-template-columns: repeat(6, minmax(10%, 1fr));
  grid-gap: 2%;
  .videoBlock:first-child,
  .videoBlock:nth-child(2) {
    grid-column: span 3;
  }
  .videoBlock:nth-child(3),
  .videoBlock:nth-child(4),
  .videoBlock:nth-child(5) {
    grid-column: span 2;
  }
}
