.video-detail__container {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 0 7px;
  padding: 0 5px;
  align-items: center;
  video {
    width: 100%;
  }
  .video__info {
    // border: 1px solid blue;
    width: 100%;
    // max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #1e3799;
        font-weight: 550;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      // border: 1px solid blue;
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 500;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
      word-break: break-all;
      white-space: pre-line;
    }
  }
  .video__comments {
    // border: 1px solid blue;
    margin-top: 25px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .my-comment {
      // border: 1px solid red;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 1000px;
      height: 100px;
      .comment-form-container {
        // border: 1px solid blue;
        height: 100%;
        width: 100%;
        .add__Comment {
          height: 90%;
          display: grid;
          grid-template-columns: 10fr 1fr;
        }
        textarea {
          max-width: 1000px;
          font-size: 15px;
        }
        input[type="submit"],
        input[type="button"] {
          max-width: 1000px;
          background-color: $button-color;
          color: white;
        }
      }
    }
    .u-avatar {
      height: 60px;
      min-width: 60px;
      margin-right: 10px;
    }
    .video__comment-number {
      margin-top: 30px;
      font-size: 18px;
    }
    .add__comment {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .video__comments-list {
      width: 100%;
      max-width: 780px;
      margin-top: 20px;
      li {
        display: grid;
        grid-template-columns: 1fr 10fr;
        align-items: center;
        grid-gap: 5px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      pre {
        font-size: 16px;
        word-break: break-all;
        white-space: pre-line;
        font-size: 17px;
        background-color: rgba(0, 0, 0, 0.1);
        color: $black;
        padding: 15px;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        a {
          display: block;
          color: black;
          font-weight: 500;
          font-size: 16px;
          opacity: 1;
        }
      }
    }
  }
}
